-- MySQL dump 10.13  Distrib 8.0.45, for Linux (x86_64)
--
-- Host: localhost    Database: dify_chat
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `_prisma_migrations`
--

DROP TABLE IF EXISTS `_prisma_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `_prisma_migrations` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `checksum` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `finished_at` datetime(3) DEFAULT NULL,
  `migration_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `logs` text COLLATE utf8mb4_unicode_ci,
  `rolled_back_at` datetime(3) DEFAULT NULL,
  `started_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `applied_steps_count` int unsigned NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_prisma_migrations`
--

LOCK TABLES `_prisma_migrations` WRITE;
/*!40000 ALTER TABLE `_prisma_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `_prisma_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `academic_courses`
--

DROP TABLE IF EXISTS `academic_courses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `academic_courses` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `course_code` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `course_name` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` longtext COLLATE utf8mb4_unicode_ci,
  `source_quote` longtext COLLATE utf8mb4_unicode_ci,
  `raw_course_info_json` longtext COLLATE utf8mb4_unicode_ci,
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updated_at` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `academic_courses_user_id_course_code_key` (`user_id`,`course_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `academic_courses`
--

LOCK TABLES `academic_courses` WRITE;
/*!40000 ALTER TABLE `academic_courses` DISABLE KEYS */;
/*!40000 ALTER TABLE `academic_courses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `academic_tasks`
--

DROP TABLE IF EXISTS `academic_tasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `academic_tasks` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `due_date` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `weight` double DEFAULT NULL,
  `type` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `course_code` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `course_name` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `detail` text COLLATE utf8mb4_unicode_ci,
  `source_quote` text COLLATE utf8mb4_unicode_ci,
  `page_numbers_json` longtext COLLATE utf8mb4_unicode_ci,
  `estimated_hours` double DEFAULT NULL,
  `rationale` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `start_at` datetime(3) DEFAULT NULL,
  `end_at` datetime(3) DEFAULT NULL,
  `is_all_day` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `academic_tasks`
--

LOCK TABLES `academic_tasks` WRITE;
/*!40000 ALTER TABLE `academic_tasks` DISABLE KEYS */;
INSERT INTO `academic_tasks` VALUES ('user-1776596742128','e72d0369dfd024e8211cabc5c0bca57e','12','2026-12-20T10:15:00+08:00',0,'Task','MANUAL',NULL,NULL,NULL,'[]',NULL,NULL,'2026-04-19 11:05:43.412','2026-12-20 02:15:00.000','2026-12-20 06:30:00.000',0);
/*!40000 ALTER TABLE `academic_tasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course_policies`
--

DROP TABLE IF EXISTS `course_policies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `course_policies` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `course_id` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `course_code` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `late_policy` longtext COLLATE utf8mb4_unicode_ci,
  `absence_policy` longtext COLLATE utf8mb4_unicode_ci,
  `grading_notes` longtext COLLATE utf8mb4_unicode_ci,
  `raw_policy_text` longtext COLLATE utf8mb4_unicode_ci,
  `extension_rule` text COLLATE utf8mb4_unicode_ci,
  `integrity_rule` text COLLATE utf8mb4_unicode_ci,
  `collaboration_rule` text COLLATE utf8mb4_unicode_ci,
  `exam_aid_rule` text COLLATE utf8mb4_unicode_ci,
  `parsed_policy_json` longtext COLLATE utf8mb4_unicode_ci,
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updated_at` datetime(3) NOT NULL ON UPDATE CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `course_policies_user_id_course_code_key` (`user_id`,`course_code`),
  KEY `course_policies_course_id_fkey` (`course_id`),
  CONSTRAINT `course_policies_course_id_fkey` FOREIGN KEY (`course_id`) REFERENCES `academic_courses` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course_policies`
--

LOCK TABLES `course_policies` WRITE;
/*!40000 ALTER TABLE `course_policies` DISABLE KEYS */;
/*!40000 ALTER TABLE `course_policies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course_policy_rules`
--

DROP TABLE IF EXISTS `course_policy_rules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `course_policy_rules` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `policy_id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `rule_type` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `threshold_value` double DEFAULT NULL,
  `penalty_percent` double DEFAULT NULL,
  `time_unit` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `raw_quote` longtext COLLATE utf8mb4_unicode_ci,
  `rule_order` int DEFAULT NULL,
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  KEY `course_policy_rules_policy_id_idx` (`policy_id`),
  CONSTRAINT `course_policy_rules_policy_id_fkey` FOREIGN KEY (`policy_id`) REFERENCES `course_policies` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course_policy_rules`
--

LOCK TABLES `course_policy_rules` WRITE;
/*!40000 ALTER TABLE `course_policy_rules` DISABLE KEYS */;
/*!40000 ALTER TABLE `course_policy_rules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dify_apps`
--

DROP TABLE IF EXISTS `dify_apps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dify_apps` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updated_at` datetime(3) NOT NULL,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `mode` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tags` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_enabled` int DEFAULT '1',
  `api_base` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `api_key` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `enable_answer_form` tinyint(1) NOT NULL DEFAULT '0',
  `answer_form_feedback_text` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `enable_update_input_after_starts` tinyint(1) NOT NULL DEFAULT '0',
  `opening_statement_display_mode` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `enable_annotation` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dify_apps`
--

LOCK TABLES `dify_apps` WRITE;
/*!40000 ALTER TABLE `dify_apps` DISABLE KEYS */;
/*!40000 ALTER TABLE `dify_apps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ingestion_snapshots`
--

DROP TABLE IF EXISTS `ingestion_snapshots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ingestion_snapshots` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `course_code` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `course_id` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `processing_result_id` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `source_type` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `raw_json` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `report_text` longtext COLLATE utf8mb4_unicode_ci,
  `parsed_policy_json` longtext COLLATE utf8mb4_unicode_ci,
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  KEY `ingestion_snapshots_user_id_idx` (`user_id`),
  KEY `ingestion_snapshots_course_id_idx` (`course_id`),
  KEY `ingestion_snapshots_processing_result_id_fkey` (`processing_result_id`),
  CONSTRAINT `ingestion_snapshots_course_id_fkey` FOREIGN KEY (`course_id`) REFERENCES `academic_courses` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `ingestion_snapshots_processing_result_id_fkey` FOREIGN KEY (`processing_result_id`) REFERENCES `processing_results` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ingestion_snapshots`
--

LOCK TABLES `ingestion_snapshots` WRITE;
/*!40000 ALTER TABLE `ingestion_snapshots` DISABLE KEYS */;
/*!40000 ALTER TABLE `ingestion_snapshots` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `processing_results`
--

DROP TABLE IF EXISTS `processing_results`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `processing_results` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `course_code` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `raw_data` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `processed_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `source_type` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updated_at` datetime(3) NOT NULL,
  `advice_text` longtext COLLATE utf8mb4_unicode_ci,
  `course_summary_json` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `processing_results`
--

LOCK TABLES `processing_results` WRITE;
/*!40000 ALTER TABLE `processing_results` DISABLE KEYS */;
/*!40000 ALTER TABLE `processing_results` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updated_at` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_key` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'dify_chat'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-19 11:27:39
